# Server Configuration
PORT=5000
NODE_ENV=development

# Database Dialect Selection
# Set to 'postgres' for Online Remote, or 'mysql' for Offline Local
DB_DIALECT=mysql

# Common DB Configurations
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mathnova
DB_USER=root
DB_PASSWORD=yourpassword

# If using Postgres connection string directly (optional)
# DATABASE_URL=postgresql://user:pass@host:port/dbname



#Conexion a la base de datos en Supabase
DATABASE_URL=postgresql://postgres.gcpeqmymalavvkowauct:Me8ed05fbaf72@aws-1-us-west-2.pooler.supabase.com:5432/postgres
PORT=3001
JWT_SECRET=mathnova_super_secreto_2026